.menu-bar ul li:hover{
    background-color:hwb(0 100% 0% / 0.26);
    border-radius: 3px;
} 
/* submenu styles */
.sub-menu-1{
    /* display: none; */
    width: 20rem;
    height: 15rem;
    margin-top: 10px;
}
.menu-bar ul li :hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color:rgb(255, 228, 196) ;
    margin-top: 15px;
    margin-left: -15px;
}
 .menu-bar ul li :hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li a{
    width: 150px;
    padding: 10px;
    border-bottom: 1px solid floralwhite;
    background-color: aquamarine;
    border-radius: 0;
    text-align: left;
}
.sub-menu-2{
    display: none;
}
.menu-bar ul li :hover .sub-menu-2{
    display: block;
} 