*{
    margin: 0;
}
#navbar{
  height: 20vh;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-image:url(https://assets.loseit.com/website/corporate/InteriorHeaderPattern.svg), linear-gradient(0.25turn, #FF8D00, #FF9400);   
    background-size: 77% 286px;
}
#banner>h1{ 
    text-align: center;
    color: white;
    font-size: 6vw;

}