*{
    margin: 0;
}
#navbar{
  height: 17vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar>img{
    width: 15vw;
    margin-right: 55vw;
}
#navbar>button{
    width: 9vw;
    height: 6vh;
    background-color: #FF8D00;
    border-radius: 6px;
    border: transparent;
}
#navbar>button>a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48vh;
    background-image:url(https://assets.loseit.com/website/corporate/InteriorHeaderPattern.svg), linear-gradient(0.25turn, #FF8D00, #FF9400);   
    background-size: 77% 286px;
}
#banner>h1{ 
    text-align: center;
    color: white;
    font-size: 6vw;

}
#content{
    width: 50vw;
    text-align: center;
    margin: auto;
    margin-top: 7vh;
}
#content>img{
    width: 11vw;
    margin-bottom: 2vh;
}
#content>p:last-child{
     margin-top: 2vh;
}
#journey{
    width: 50vw;
    height: 70vh;
    text-align: center;
    margin: auto;
}
h1{
   margin-bottom: 2vh;     
}
#badges{
    width: 90%;
    margin: auto;
    margin-top: 4vh;
    display: grid;
    grid-template-columns: repeat(2,49%);
    grid-template-rows: 17vh 17vh;
    gap: 1.2em;
    justify-content: center;
}
#badges>div{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #FF8D00;
}
#badges>div>img{
    width: 5vw;
}